* {
    margin: 0;
    padding: 0;
    color: darkgray;
}

.clearfix {
    clear: both;
}

section {
    padding: 20px;
    margin: 10px;
    line-height: 30px;
}

h2 {
    display: block;
    text-align: center;
}

li {
    margin-bottom: 5px;
    margin-top: 5px;
}

p {
    margin-top: 5px;
    magrin-bottom: 5px;
}

/* NAGŁÓWEK */

img {
    display: block;
    width: 560px;
    height: 316px;
    left: 30px;
}

/* NAWIGACJA */

.navigation {
    width: 300px;
    padding: 20px;
    float: left;
    color: black;

}

nav {
    width: 300px;
    float: left;
    padding: 20px;
    padding-left: 30px;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 18px;
}

p {
    text-indent: 3em;
}

/* TREŚĆ */

.content {
    float: left;
    max-width: 700px;
    font-size: 18px;
}

.banner {
    width: 700px;
}

.content div {
    margin: 50px;
}

#dlakogo {
    text-align: center;
}

#dlaczegoWarto {

}

#dlaczegoNieWarto {

}



/* STOPKA */

footer {
    display: block;
    float: left;
    height: 200px;
    width: 800px;
    text-align: center;
    margin-top: 50px;
    padding-left: 300px;
}

